@using Squadtalk.Client.Models
@using Squadtalk.Client.Models.Communication
@using Squadtalk.Client.Services

<div class="user-card" @onclick="() => CommunicationManager.OpenOrCreateFakeDirectMessageChannel(Model)"
     style="@GetStyle()">
    <img src="@Model.AvatarUrl" class="avatar" alt="Avatar" draggable="false"/>
    <div class="username" style="color: @Model.Color">@Model.Username</div>
    <div class="connection-status" style="color: @Model.StatusColor">@Model.StatusString</div>
</div>

@inject CommunicationManager CommunicationManager

@code {

    [Parameter]
    public required User Model { get; set; }

    private string GetStyle() => Model.IsSelected ? "background: #606060" : "";
}